@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mx-auto max-w-[1440px] bg-light-bg dark:bg-dark-bg;
}

main,
nav {
  @apply mx-[20px] md:mx-[40px];
}

h1 {
  @apply text-[20px] font-bold text-light-title dark:text-dark-title;
}

h1.title {
  @apply text-[20px] font-bold text-light-subtitle opacity-0 dark:text-dark-subtitle;
}

h2 {
  @apply text-[16px] font-semibold  text-light-title dark:text-dark-title;
}

h3 {
  @apply text-[14px] font-light text-light-general dark:text-dark-general;
}

p {
  @apply text-[14px] text-light-general dark:text-dark-general;
}

span.bold {
  @apply text-[14px] font-bold text-light-subtitle  dark:text-dark-subtitle;
}

.initial-clip-path-image {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.project-title {
  @apply opacity-0;
}

.project-category {
  @apply opacity-0;
}
.project-skill {
  @apply scale-0 opacity-0;
}
.project-redirect,
.project-github,
.project-live,
.project-warning {
  @apply opacity-0;
}

.experience-title,
.experience-timeframe,
.experience-company,
.experience-description {
  @apply translate-y-10 opacity-0;
}

.skill-container {
  @apply scale-50 opacity-0;
}

.cta-small,
.cta-big {
  @apply translate-y-10 scale-0 opacity-0;
}

.cta-cta {
  @apply rotate-[135deg] scale-0 opacity-0;
}
